polkit.addRule(function(action, subject) {
        if (action.id == "com.example.e-ag-client-tray") {
            return polkit.Result.YES;
        }
});
