 [Unit]
Description=komuta-networkprofil Başlatıldı.
After=multi-user.target

[Service]
Type=simple
#Environment=export DISPLAY=:0
#ExecStartPre=/usr/bin/bash /usr/local/lib/common/createQcowImage.sh ${VM_XML}
ExecStart=/usr/bin/komuta-networkprofil
#ExecStop=/usr/share/komuta/clientclose.sh

[Install]
WantedBy=multi-user.target
