Source: e-ag-client
Section: utils
Priority: optional
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Build-Depends: debhelper (>= 9), 
    qtdeclarative5-dev
Standards-Version: 3.9.8
Homepage: http://pardus.org.tr

Package: e-ag-client
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
	libqt5core5a,
    	libqt5gui5,
    	libqt5network5,
    	libqt5widgets5,
	openssh-server,
	sshpass,
	x11vnc,
	vsftpd,
	xtightvncviewer,
	net-tools,
	ethtool,
	iptables,
	libqt5multimedia5,
	libqt5multimediawidgets5,
	libgstreamer1.0-0,
	gstreamer1.0-plugins-good,
	gstreamer1.0-plugins-ugly,
	gstreamer1.0-plugins-bad,
	gstreamer1.0-plugins-bad-apps,
	gstreamer1.0-plugins-base,
	gstreamer1.0-plugins-base-apps,
	gstreamer1.0-libav,
	gstreamer1.0-alsa,
	gstreamer1.0-pulseaudio,
	gstreamer1.0-pipewire,
	gstreamer1.0-tools
Description: E-Ag İsteci Konsol Uygulaması
