Package: e-ag
Version: 2.5.0
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 1185
Depends: libc6 (>= 2.34), libgcc-s1 (>= 3.0), libglib2.0-0 (>= 2.12.0), libgstreamer1.0-0 (>= 1.0.0), libqt5core5a (>= 5.15.1), libqt5gui5 (>= 5.2.0) | libqt5gui5-gles (>= 5.2.0), libqt5multimedia5 (>= 5.6.0~beta), libqt5multimediawidgets5 (>= 5.6.0~beta), libqt5network5 (>= 5.0.2), libqt5printsupport5 (>= 5.0.2), libqt5widgets5 (>= 5.0.2), libstdc++6 (>= 5.2), libqt5gui5, openssh-server, x11vnc, vsftpd, rdesktop, xtightvncviewer, ssvnc, net-tools, netcat-openbsd, xrdp, filezilla, ethtool, wakeonlan, libqt5multimedia5-plugins, gstreamer1.0-plugins-good, gstreamer1.0-plugins-ugly, gstreamer1.0-plugins-bad, gstreamer1.0-plugins-bad-apps, gstreamer1.0-plugins-base, gstreamer1.0-plugins-base-apps, gstreamer1.0-libav, gstreamer1.0-alsa, gstreamer1.0-pulseaudio, gstreamer1.0-pipewire, gstreamer1.0-tools
Section: utils
Priority: optional
Homepage: http://pardus.org.tr
Description: e-ag Server Uygulaması
