Source: e-ag
Section: utils
Priority: optional
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Build-Depends: debhelper (>= 9), 
    qtdeclarative5-dev
Standards-Version: 3.9.8
Homepage: http://pardus.org.tr

Package: e-ag
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
	libqt5core5a,
    	libqt5gui5,
    	libqt5network5,
    	libqt5widgets5,
    	libqt5printsupport5,
	openssh-server,
	x11vnc,
	vsftpd,
	rdesktop,
	xtightvncviewer,
	ssvnc,
	net-tools,
	netcat-openbsd,
	xrdp,
	filezilla,
	ethtool,
	wakeonlan,
	libqt5multimedia5,
	libqt5multimediawidgets5,
	libqt5multimedia5-plugins,
	libgstreamer1.0-0,
	gstreamer1.0-plugins-good,
	gstreamer1.0-plugins-ugly,
	gstreamer1.0-plugins-bad,
	gstreamer1.0-plugins-bad-apps,
	gstreamer1.0-plugins-base,
	gstreamer1.0-plugins-base-apps,
	gstreamer1.0-libav,
	gstreamer1.0-alsa,
	gstreamer1.0-pulseaudio,
	gstreamer1.0-pipewire,
	gstreamer1.0-tools
Description: e-ag Server Uygulaması
