Source: komuta
Section: utils
Priority: optional
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Build-Depends: debhelper (>= 9), 
    qtdeclarative5-dev
Standards-Version: 3.9.8
Homepage: http://pardus.org.tr

Package: komuta
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
	libqt5core5a,
    	libqt5gui5,
    	libqt5network5,
    	libqt5widgets5,
    	libqt5printsupport5,
	openssh-server,
	x11vnc,
	vsftpd,
	rdesktop,
	xtightvncviewer,
	ssvnc,
	net-tools,
	netcat-openbsd,
	xrdp,
	filezilla,
	ethtool,
	wakeonlan,
	libqt5multimedia5,
	libqt5multimediawidgets5,
	libqt5multimedia5-plugins,
	ffmpeg	
Description: komuta Server Uygulaması
