[Desktop Entry]
Version=1.0
Name=E-Ag Tray Application
Name[tr]=e-ag istemci tray uygulaması
Type=Application
Comment[tr]=e-ag istemci baslangic uygulaması
Terminal=false
Exec=/bin/bash -c "/usr/bin/e-ag-tray"
Icon=/usr/share/icons/e-ag-client.svg
Categories=Qt;Utility;
Keywords=ag;eag;e-ag-client-tray;
GenericName=e-ag-client-tray
GenericName[tr]=e-ag-client-tray
Name[tr_TR]=e-ag-client-tray.desktop
